header, footer{
	padding-left: 10px;
	padding-right: 10px;
	}

section, header, footer{
	border: 2px solid silver;
	border-radius: 5px;
	background-color: gray;
	}

footer, #diceSection {
	clear: both;
	}

h1, h3 {
	padding: 0px;
	margin: 0px;
	}

#time {
	font-size: 14px;
	color: blue;
	float: right;
	}

#grandTotal {
	background-color: transparent;
	border: none;
	text-align: center;
	}

#upperSection {
	float: left;
	width: 40%;
	height: 400px;
	}

#lowerSection {
	float: right;
	width: 40%;
	height: 400px;
	}

#upperSection, #lowerSection, #diceSection {
	margin-bottom: 10px;
	}

#diceSection {
	height: 100px;
	}