header, footer{
	padding-left: 10px;
	padding-right: 10px;
	}

section, header, footer {
	border-radius: 5px;
	background-color: gray;
	}

footer {
	text-align: center;
	}

h1, h3 {
	padding: 0px;
	margin: 0px;
	}

img:hover {
	-webkit-transform: scale(1.5, 1.5);
	-moz-transform: scale(1.5, 1.5);
	}

#container {
	width: 400px;
	padding: 10px;
	margin: 10px;
	}

#gt {
	float: right;
	}

#scoreSection{
	overflow: auto;
	padding: 10px;
	margin-bottom: 10px;
	}

#upperSection {
	float: left;
	}

#lowerSection {
	float: right;
	}

#diceSection {
	margin-bottom: 10px;
	text-align: center;
	}

#diceSection table {
	margin: 0 auto;
	}

#diceSection img {
	border-radius: 5px;
	}

/* classes --------------------------- */

.leftSide {
	width: 100px;
	}

.rightSide {
	width: 120px;
	}

.canClick:hover {
	background-color: white;
	}

.roundCorners {
	border-radius: 3px;
	}

.score {
	float: right;
	}

.frozen {
	border: 2px solid black;
	}

.unfrozen {
	border: 2px solid gray;
	}
